* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-35deg, #000000, #2c3f3c, #0e0d0d);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-color: black;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    z-index: -1;
}

.main {
    position: relative;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-self: center;
    background: linear-gradient(-25deg, #312e3a, #b4c5c3, #4e4755);
}

.main button {
    padding: 10px 12px;
    margin: 0 10px;
}

.main #logo {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 25px;
    color: rgb(32, 26, 32);
}

.main #logo i {
    margin-right: 15px;
}

.right,
.left {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left img {
    height: 500px;
    width: 60%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background: #b4c5c3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.right input[type="range"] {
    width: 40%;
}

.left .volume {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left .volume p {
    font-size: 15px;
}

.left .volume i {
    cursor: pointer;
    padding: 8px 12px;
}

.left .volume i:hover {
    opacity: 0.8;
}

.volume #volume_show {
    padding: 8px 12px;
    margin: 0px 5px 0px 0px;
    background: rgba(245, 245, 245, 0.1);
}

.right .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button {
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

.right .middle button:hover {
    background: rgba(245, 245, 245, 0.1);
}

.right #title {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: aliceblue;
    font-size: 35px;
}

.right #artist {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: aliceblue;
    font-size: 20px;
}

.right .duration {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-transform: capitalize;
    color: aliceblue;
    font-size: 15px;
}

.right .duration p {
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}

.right #audio {
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245, 245, 245, 0.1);
    outline: none;
    border-radius: 10px;
}

.right #audio:hover {
    background: rgba(245, 245, 245, 0.2);
}

.right #audio i {
    margin-right: 10px;
}

#play {
    background: #FF8a65;
}

.right .show_song {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.1)
}

.right .show_song p:nth-child(2) {
    margin: 0 5px;
}

.fog {
    position: relative;
    height: 200vh;
    width: 200%;
    z-index: -1;
}

.fog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
}

.fog-img-first {
    background: url("./img/fog1.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 60s linear infinite;
}

.fog-img-second {
    background: url("./img/fog2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(0,0);
    }
    100% {
        transform: translate3d(-30vw, 0, 30vw);
    }
}